.containerCollapse{
    margin-left: 120px;
    margin-right: 120px;
    /* background-color: grey; */

    height: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width:900px){
    .banner{
        height: 250px;
    }

    .containerCollapse{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
    }
}