.collapse{
    width: 100%;
    font-size: 16;
}
.collapseHeader{
    background-color: #FF6060;
    color: #F7F7F7;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.collapseHeader h2{
    margin: 0;
}

.collapseHeader button{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.collapseContainer{
    height: auto;
    padding: 10px;
    background-color: #F7F7F7;
    color: #FF6060;
}

.collapseContainerHide{
    height: 0;
    display:none;
}

.collapseContainer p{
    margin: 0;
    padding-top: 10px;
}